<!DOCTYPE html>   <!-- #paste bootstrap basic template in get started page -->
<html lang="en">
  <head>

    <% include partials/head.ejs %>
    <!-- <link href="css/bootstrap.min.css" rel="stylesheet"> -->

  </head>
  <body>
     <!-- #delete hello world and create movies each method after defined Movies var-->
     <% for (var i = 0; i < movies.length; i++) { %>
         <img src="/images/<%= movies[i].poster %>" class="img-responsive">
     <% } %>

     <% include partials/scripts.ejs %>
  </body>
</html>
