<h1>This is the template of the home page</h1>

<p><%= title %></p>

<!-- #7display the arrays defined in #6 -->
<ul>
  <% for (var i = 0; i < movies.length; i++) { %>
  <li><%= movies[i] %></li>
  <% } %>
</ul>
